{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat asperiores, nostrum laborum obcaecati ullam. Accusamus natus delectus mollitia possimus rem at aliquid ratione error et laudantium ad, tempore voluptate.</p>
<p>Veritatis odio ea dolores! Error temporibus odio tempore consequatur et perferendis aliquid sequi quis, reprehenderit tempora est asperiores debitis esse sint ducimus laboriosam quisquam, praesentium dolorum. Explicabo officiis eveniet dignissimos!</p>
<p>Cumque adipisci soluta minima neque incidunt. Aut fugiat magnam commodi saepe rem libero repudiandae, voluptate, ipsum tempore quisquam expedita id! Odit tenetur, rem natus minus voluptatibus fugiat aperiam fuga error?</p>
<p>Veritatis, fugiat non natus, repellat illo provident harum dolor dignissimos ab deleniti nihil, iusto ipsam voluptas cumque. Nemo, accusamus! Necessitatibus, officiis tenetur reprehenderit nisi quae incidunt. Maxime dolor ratione iusto.</p>

{% endblock %}
